pre.sh_sourceCode {
  background-color: #fbfbfb;
  color: black;
  font-style: normal;
  font-weight: normal;
}

/*YAML too large for usual screens*/
pre.sh_ruby {
  font-size: 2.0em;
}

pre.sh_html {
  font-size: 2.0em;
}
